[Unit]
Description=Workaround to set proper SELinux labels to systemd-homed.

[Service]
Type=oneshot
ExecStart=/usr/libexec/homed-selinux-workaround
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
