[Unit]
Description=Workaround for missing SELinux contexts of systemd-homed executables.

[Service]
Type=oneshot
ExecStart=/usr/libexec/homed-selinux-fix
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

